node_modules
build
coverage
.vscode
.DS_STORE
.env
tmp/**/*
!tmp/.gitkeep
.keys
.nyc_output

database/inits/**/*.ts

public/media/images/original/**/*
!public/media/images/original/.gitkeep
public/media/images/renditions/**/*
!public/media/images/renditions/.gitkeep