<!doctype html>
<html>

<head>
  <title>You've been invited to kulturdaten.berlin</title>
</head>

<body>
  <h1>You've been invited to kulturdaten.berlin!</h1>
  <p>Someone invited you to join their organization on kulturdaten.berlin.</p>

  <a href="{{ url }}">Join kulturdaten.berlin</a>

  <p>Make sure to use the same e-mail address for sign up that this invitation has been sent to.</p>
</body>

</html>