<!doctype html>
<html>

<head>
  <title>kulturdaten.berlin: New password</title>
</head>

<body>
  <h1>kulturdaten.berlin: New password</h1>
  <p>You our someone else changed your kulturdaten.berlin password. You can now proceed and login with your new credentials.</p>
  <p>If you didn't reset your password please report this incident to the platform.</p>
</body>

</html>