<!doctype html>
<html>

<head>
  <title>kulturdaten.berlin: Reset your password</title>
</head>

<body>
  <h1>kulturdaten.berlin: Reset your password</h1>
  <p>You our someone else requested to reset your password for kulturdaten.berlin. If you didn't please ignore this mail.</p>
  <p>If you indeed want to reset your password click the following link.</p>

  <a href="{{ url }}">Reset password now</a>
  
  <p>Beware: this link expires in 10 minutes.</p>
</body>

</html>