<!doctype html>
<html>

<head>
  <title>Welcome to kulturdaten.berlin</title>
</head>

<body>
  <h1>Welcome to kulturdaten.berlin!</h1>
  <p>You registered for kulturdaten.berlin. Nice! If you didn't please ignore this mail.</p>
  <p>To start using the platform you need to verify your email address.</p>

  <a href="{{ url }}">Verify now</a>
</body>

</html>